.card {
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 30, 84, 0.2), 0 1px 3px rgba(0, 30, 84, 0.1) !important;

  &__image {
    width: 150px;
    margin: 0 auto;
    overflow: hidden;

    img {
      border-radius: 50%;
      width: 100%;
      height: 100%;
    }
  }

  &__details {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.3456;
    padding: 20px;
  }
}
