<mat-drawer-container class="drawer-container" [hasBackdrop]="false">
  <mat-drawer #drawer mode="side">
    <div class="drawer-menu">
      <div class="drawer-menu__title">
        EDS Project
      </div>

      <ul class="drawer-menu__links">
        <li *ngFor="let item of links">
          <a [routerLink]="item.link">{{ item.title }}</a>
        </li>
      </ul>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar class="toolbar">
      <button
        mat-icon-button
        class="example-icon"
        (click)="drawer.toggle()"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <h1 class="title">EDS Project</h1>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
