$navColor: #f1c40f;

.drawer {
  &-container {
    height: 100vh;
  }

  &-menu {
    height: 100%;
    overflow-y: auto;
    width: 100%;
    background-color: $navColor;
    
    &__title {
      padding: 20px 40px;
      font-size: 28px;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 1px;
    }

    &__links {
      padding: 0;
      margin: 0;
      list-style-type: none;
      margin-top: 20px;

      li {
        font-size: 15px;
        text-transform: uppercase;

        a {
          display: block;
          padding: 15px 40px;
          color: #222;
          text-decoration: none;
          transition: 0.3s;

          &:hover {
            background-color: lighten($color: $navColor, $amount: 20);
          }
        }
      }
    }
  }
}

.title {
  text-align: center !important;
  margin: 0 auto;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}

.toolbar {
  background-color: $navColor;
}
