.emp-container {
  max-width: 400px;
  margin: 60px auto;

  @media screen and(max-width:768px) {
    padding: 0 20px;
  }
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  &__title {
    font-weight: 500;
  }
}
