<div class="emp-container">
  <mat-card class="card" *ngIf="employee">
    <div class="card__image">
      <img [src]="employee.profile_image" alt="employee image" />
    </div>
    <div class="card__details">
      <div class="row">
        <div class="row__title">
          Employee Name :
        </div>
        <div class="row__value" appHighlight highlightColor="orange">
          {{ employee.employee_name }}
        </div>
      </div>
      <div class="row">
        <div class="row__title">
          Employee Salary :
        </div>
        <div class="row__value">
          {{ employee.employee_salary | currency: "USD" }}
        </div>
      </div>
      <div class="row">
        <div class="row__title">
          Employee Age :
        </div>
        <div class="row__value">
          {{ employee.employee_age | age }}
        </div>
      </div>
    </div>
  </mat-card>
  <div *ngIf="!employee">
    No Employee Found
  </div>
</div>
