<div class="login-container">
  <form [formGroup]="loginForm" (submit)="handleLogin()">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        required
        formControlName="email"
        [errorStateMatcher]="errorMatcher"
      />
      <mat-error *ngIf="loginForm.get('email').hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
      <mat-error
        *ngIf="
          loginForm.get('email').hasError('validEmail') &&
          !loginForm.get('email').hasError('required')
        "
      >
        Please enter a valid email address
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Password</mat-label>
      <input
        type="password"
        matInput
        [errorStateMatcher]="errorMatcher"
        required
        formControlName="password"
      />
      <mat-error *ngIf="loginForm.get('password').hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <button
      type="submit"
      class="w-100 btn"
      [disabled]="logginIn"
      mat-flat-button
      color="primary"
    >
      Login
    </button>
  </form>
</div>
