$navColor: #e9c948;
$navColor2: #f8cd1f;

.data-container {
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 100px;

  .loading-container {
    display: grid;
    place-items: center;
    min-height: calc(100vh - 300px);
  }

  h1 {
    margin: 20px 0;
    font-weight: 500;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, $navColor, $navColor2);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  table {
    width: 100%;
  }

  @media screen and (max-width: 768px) {
    padding: 0 20px;
  }
}

.mat-row {
  cursor: pointer;
}

.mat-row:nth-child(odd) {
  background-color: silver;
}
