<div class="data-container">
  <h1>Employees List</h1>
  <div class="loading-container" *ngIf="!employees.length">
    <mat-spinner></mat-spinner>
  </div>
  <table
    *ngIf="employees.length"
    mat-table
    [dataSource]="employees"
    class="mat-elevation-z8"
    matSort
    (matSortChange)="sortData($event)"
  >
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Id</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
        Name
      </th>
      <td mat-cell *matCellDef="let element">{{ element.employee_name }}</td>
    </ng-container>

    <!-- Salary Column -->
    <ng-container matColumnDef="salary">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
        Salary
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.employee_salary | currency: "USD" }}
      </td>
    </ng-container>

    <!-- Age Column -->
    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
        Age
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.employee_age | age }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: columns"
      (click)="showDetails(row)"
    ></tr>
  </table>
</div>
